# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folder
build

# CTest folder
Testing

# Clang language server
.clangd

# Compiler databases
compile_commands.json

# Clang coverage
*.profraw

# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Cython compiled files
*.c
*.cpp
*.so

# Logs, coverage, and temporary files
*.log
*.coverage
.coverage.*
*.tmp
*.temp
*.out

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environment
venv/
env/
*.env

# Temporary files created by editors
*.swp
*.swo
*.bak
*~

bliss.cpython-*-x86_64-linux-gnu.so
